.SessionList {
    text-align: center;
    font-size: large;
    font-family: "Roboto", "sans-serif";
    box-sizing: border-box;
    max-width: 400px;
    margin: auto;
    border-right: 2px solid;
    border-left: 2px solid;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 0px;
}