.usernameInputText{
    font-size: large;
    font-family: "Roboto", "sans-serif";
    width: 75%;
}


.usernameSubmitButton{
    font-family: "Roboto", "sans-serif";
    font-size: large;
    width: 25%;
}

.Join{
    margin-left: 25%;
    margin-top: 50%;
    width: 50%;
    height: 26px;
    font-family: "Roboto", "sans-serif";
    font-size: lar
}
.Random{
    width: 103%;
    height: 26px;
    font-family: "Roboto", "sans-serif";
    font-size: large;
}