.WelcomeScreen {
}

.GameName{
  font-size: 500%;
    font-family: "Roboto", "sans-serif";
}

.UserName{
    font-family: "Roboto", "sans-serif";
    text-align: right;
  font-size: xx-large;
}

.Logo{
    display: block;
    margin-left: auto;
    max-width: 150px;
    max-height: 150px;
}