@import 'react-md/src/scss/react-md';

$iconSize: 160px;

$iconBorderSize: $iconSize + 10px;
#landscape {display: block}
@media only screen and (orientation:portrait){
  #landscape {
    height: 100vw;
    width: 100vh;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: bottom left;
    position: absolute;
    top: -100vw;
  }
}
@media only screen and (orientation:landscape){
  #landscape{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.mainScreen{
    width: 100%;
    font-size: 30px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 auto;
}

.fluidGridList{
    overflow: auto;
    white-space: nowrap;
    flex-wrap: 'nowrap';
    // Promote the list into his own layer on Chrome. This cost memory but helps keeping high FPS.
}

.fluidGridItem{
    display: inline-block;
    vertical-align: middle;
    padding: 0px 0px 0px 2px;
}

.iconListItemSize{
    width: 64px;
    height: 64px;
}

.colorListItemSize{
    width: 64px;
    height: 64px;
}

.tabClass{
    color: black;
}

.colorPicker{
    margin-top: 10px
}

.iconPreviewWindow{
  border-radius: $iconBorderSize;
  width: $iconSize;
    height: $iconSize;
    display: block;
    margin: 0px auto;
    text-align: center;
    z-index: 100;
}

.center{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 30px;
    width: 100px;
    height: 100px;
}

.buttonContainer{
    flex-wrap: nowrap;
    margin: 'auto';
    width: '100%';
    margin-top: 0px;
}

.button{
    display: block;
    width: 100%;
}

.instanceContainer{
    flex-wrap: nowrap;
    margin: auto;
    width: 100%;
    margin-top: 0px;
}

.cellCol--2-6 {
    text-overflow: ellipsis;
    vertical-align: top;
    overflow: hidden;
    width: calc(100% / 6 * 2 - 8px);
    margin: 0 8px 0 0px;
    display: inline-block;
}

.cellCol--1-6 {
    text-overflow: ellipsis;
    vertical-align: top;
    overflow: hidden;
    width: calc(100% / 6 * 1 - 8px);
    margin: 0 8px 0 0px;
    display: inline-block;
}
.instanceHeader{
    flex-wrap: nowrap;
    margin: 'auto';
    width: '100%';
    margin-top: 0px;
    background-color: $md-blue-500;
    color: white;
}

.instancesSpinner {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.instancesError{
  font-size: 16px; 
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.characterSpinner{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.characterError{  font-size: 16px; 
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $md-red-500;
}


.GameScreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

@media only screen and (orientation:portrait){
  .gameButtonWrapper {
    height: 60vw;
  }
  .gameButtonContainer {
    width: 100%;
    height: 60vw; 
    margin-top: 0px;
  }
}

@media only screen and (orientation:landscape){
  .gameButtonWrapper {
    height: 60vh;
  }
  .gameButtonContainer {
    width: 100%;
    height: 60vh;
    margin-top: 0px;
  }
}
.gameButtonRightTop {
    text-align: center;
    font-size: large;
    display: block;
    width: calc(100% - 12px);
    height: calc(50% - 4px);
    padding: 0 auto;
    margin: 0px 8px 8px 4px;
}

.gameButtonRightBottom{
    text-align: center;
    font-size: large;
    display: block;
    width: calc(100% - 12px);
    height: calc(50% - 4px);
    padding: 0 auto;
    margin: 4px 8px 0px 4px;
}

.gameButtonLeftTop {
    text-align: center;
    font-size: large;
    display: block;
    width: calc(100% - 12px);
    height: calc(50% - 4px);
    padding: 0 auto;
    margin: 0px 4px 8px 8px;
}

.gameButtonLeftBottom{
    text-align: center;
    font-size: large;
    display: block;
    width: calc(100% - 12px);
    height: calc(50% - 4px);
    padding: 0 auto;
    margin: 4px 4px 0px 8px;
}

.gameButtonLeft {
    text-align: center;
    font-size: large;
    display: block;
    width: calc(100% - 12px);
    height: 100%;
    padding: 0 auto;
    margin: 0 4px 0 8px;
}

.gameButtonRight {
    text-align: center;
    font-size: large;
    display: block;
    width: calc(100% - 12px);
    height: 100%;
    padding: 0 auto;
    margin: 0 8px 0 4px;
}

.gameButtonSingle {
    text-align: center;
    font-size: large;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0 auto; 
    margin: 0 4px 0 8px;
  }

.gameButtonContainer {
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0 auto;
    width: '100%';
    margin-top: 0px;
}

.pingPaper{
    text-align: center;
    font-size: 16px;
    margin-top: 6px;
    padding-top: 6px;
    width: 100%;
    height: 36px;
}

.removeCellPadding{
    padding: 0 auto;
    margin: 0 auto;
}

@media only screen and (orientation:portrait){
  .gameIcon{
    position:relative;
    width: calc(#{$iconBorderSize} + 16px);
    bottom: calc(60vw / 2 + #{$iconSize} / 2 + 8px);
    margin-bottom: -$iconSize;
    margin-left: auto;
    margin-right: auto;
    left: 0;
  }
}

@media only screen and (orientation:landscape){
  .gameIcon{
      position:relative;
      width: calc(#{$iconBorderSize} + 16px);
      bottom: calc(60vh / 2 + #{$iconSize} / 2 + 8px);
      margin-bottom: -$iconSize;
      margin-left: auto;
      margin-right: auto;
      left: 0;
  }
}

.fullscreenButton{
  width: calc(100% - 32px);
  margin-left: 16px;
  margin-right: 16px;
}

.namePreviewBox{
    width: 100%;
    font-size: 26px;
    text-align: center;
}

.top-container{
    flex-wrap: nowrap;
}

.top-container-item{
    display: inline-block;
    vertical-align: middle;
    padding: 0px 0px 0px 10px;
}
